.align-middle {

  > * {
    display: flex !important;
    align-content: center !important;
    align-items: center !important;
  }

} //ends align-middle

.form-control {
  border-bottom: 1px solid #eee;
  background-color: #fafafa;
}

[app-viewport],
[overlay-portal],
[nav-viewport],
[tab-portal],
.nav-decor {
  display: none !important;
  background: none transparent !important;
}